.backmain3{
      background-color: #DBDDF6;
      height:205vh;
}
.sml{
  font-size: 15px;
  color:gray


}
.ds{
  font-size: 27px;
  margin-left: 30px;


}

.side{
  margin-left: 300px;
}
.down{
  margin-top: 30px;
}
.left{
  margin-right: 30px;
  margin-left: 40px;
}
.di{
  margin-left: 170px;
}
.down{
  margin-top: 40px;
}
.smllbox2{
  background-color: white;
  height:170px;
  margin-left: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 120px;

}
.pr{
  font-size: 20px;
  font-family: "Roboto";
}
.button{
  margin-left: 340px;
  background-color: white;
  border:none
}
.green{
  color:green;
}
.mrg2{
  margin-right: 160px;
  margin-bottom: 20px;
}
.mrg3{
  margin-left: 160px;
}

.hu2{
  margin-right: 100px;
  font-size: 20px;
  margin-top: 20px;
}
.hu3{
  margin-left: 110px;
  font-size: 20px;
}
.pd3{
  margin-top:10px ;
}
.hu4{
  font-size: 20px;
}
.continerwhite{
  background-color: white;
  height: 700px;
  margin-right: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 30px;
}
.width{
  width:570px;

}
.th{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;


}
.th2{
  color:gray;
  margin-left: 20px;
}
.month{
  margin-left: 140px;
  background-color: gray;
  color:white;
  padding: 4px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  margin-bottom: 20px;
}
.price{
  font-size: 30px;
  margin-top: 20px;
  margin-right:50px;
}
.mr6{
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 30px;
}
.price2{
  font-size: 30px;
  margin-top: 20px;
  margin-left:80px;
}
.hu{
  margin-left: 30px;
}
.card{
  padding-left: 0px;
}
.container22{
  background-color:white;
  height:550px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding-top: 10px;
}
.container33{
  background-color: white;
  height:550px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding-top: 20px;
}
.one
{
  margin-left: 30px;
  margin-top: 40px;
}
.one2{
  margin-left: 30px;
  font-size: 15px;
  color: gray;
  margin-bottom: 50px;

}
.table{
  margin-left: 0px;
}
.left
{
  margin-bottom: 60px;
}
.two{
  margin-left: 30px;
  font-size: 30px;
}
.two2{
  color:gray;
  margin-left: 30px;
}
.left777{
  margin-left: 30px;
  font-family: "Roboto";
  color:gray
}
.img{
  height:60px;
  background-color:rgb(253, 133, 209);
  padding: 9px;
  margin-left: 60px;
  margin-top: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 7px;
}
.exp{
  color:gray;
  margin-top: 20px;
  text-align: center;
}
.nme{
  margin-left: 45px;
  font-size: 26px;
}
.sml9{
  width:100px
}
.card3{
  width:100px;
  text-align: center;
  height:30px;
  padding-left: 60px;
}
.nme2{
  margin-left: 50px;
  font-size: 20px;
  color: green;
}
.ar{
  color:red
}
.img2{
  height:60px;
  background-color:rgb(163, 197, 231);
  padding: 9px;
  margin-left: 60px;
  margin-top: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 7px;
}

.img3{
  height:60px;
  background-color:rgb(195, 202, 209);
  padding: 9px;
  margin-left: 60px;
  margin-top: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 7px;
}







