@import "../home/home.component.scss";

.mainback{
    background-color: #DBDDF6;
    height:300vh;


}
.sml{
  font-size: 15px;
  color:gray


}
.ds{
  font-size: 27px;
  margin-left: 30px;


}

.side{
  margin-left: 300px;
}
.down{
  margin-top: 30px;
}
.left{
  margin-right: 30px;
  margin-left: 190px;
}

.grphcontiner{
  background-color:white;
  height:75vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


.smll3{
  width:900px;
  margin-left: 120px;

}
.top{
  margin-top:60px;
  margin-left: 0px;
}
.whiteboxs{
  background-color: rgb(255, 255, 255);
  height:140px;
  width:350px;
  margin-left: 15px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

}
.letter{
  font-size: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.letter2{
  font-size: 14px;
  margin-left: 120px;
  background-color: rgb(225, 222, 222);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 5px;
  margin-bottom: 30px;
}
.letter3{
  margin-left: 30px;
  margin-top: 35px;
  font-size: 40px;

}
.letter4{
  font-size: 15px;
  margin-top: 33px;
  margin-left: 70px;
  color:green
}
.size22{
  background-color: white;
  height:87vh;
  width: 1200px;
  margin-left: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.chrtsie{
  width: 600px;
  margin-top: 20px;

}
.visit{
  font-size: 20px;
  margin-top: 9px;
  margin-left: 8px;
}
.cardssmll{
  background-color: gray;
  height:40px
}
.fontsie{
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 70px;
  color:rgb(79, 74, 74)
}
.spn{
  font-size: 40px;
  margin-left: 40px;
}
.spn2{
  font-size: 15px;
  margin-left: 40px;
  margin-bottom: 9px;
  color: green;
}
.ud{
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  font-family: "Roboto";
}
.du{
  text-align: center;
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
}
.whitesmllbox{
  background-color: white;
  height:50vh;
  width: 240px;
  margin-left: 90px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding-top: 20px
}
.mrgin{
  margin-left: 120px;
}
.fnts{
  font-size: 20px;
  margin-left:15px;
}
.size2{
  width:200px;
}
.goi{
  font-size: 15px;
  margin-top: 5px;
  margin-left: 20px;
}
.poi{
  width:200px
}
