<mat-nav-list>
  <div class="logo py-4">
     <img src="https://img.freepik.com/premium-vector/abstract-ornamental-logo_1159-1397.jpg?w=740" class = "color sie" />

  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader class="mt-2 color">Dash Boards</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/attach/home">
    <mat-icon class = "color">home</mat-icon> <span class = "color">Project</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/attach/dashboard">
    <mat-icon class = "color">dashboard </mat-icon> <span class = "color">Analytics</span>
  </a>
  <a mat-list-item routerLink="list-item-active" routerLink="/attach/budget">
    <mat-icon class="color">account_balance_wallet </mat-icon><span class="color">Finance </span>  </a>
  <a mat-list-item routerLink="list-item-active" routerLink="/attach/employee-dashboard">
     <mat-icon class="color">home</mat-icon><span class="color"> Emp Dashboard</span> </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
